@font-face {
  font-family: "font-1";
  src: url(./anime/MyHeroAcademia/assets/font.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: rgb(212, 59, 48);
}

::selection {
  color: white;
  background: rgb(212, 59, 48);
}

.nav-bar {
  width: 100%;
  height: 80px;
  background: #252525;
  position: relative;
}

#logo {
  position: absolute;
  height: 65px;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  /* suppression en attendant */
  opacity: 0;
}

.nav-bar li {
  display: block;
  float: left;
  padding: 1.5% 3vh;
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 61%;
  cursor: pointer;
}

.nav-bar li:hover {
  color: rgb(212, 59, 48);
}

.nav-bar input {
  border-radius: 50px;
  width: 20vh;
  padding: 4px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  transform: translateY(-20%);
  outline: none;
}

/* temp logo */
#logo-website {
  position: absolute;
  height: 65px;
  top: 65%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  opacity: 1;
}

#nav-btn li {
  margin: 0;
  padding: 0;
  top: 50%;
}

body {
  background: rgb(37, 37, 37);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.banner-container {
  position: relative;
}
.banner-gradient {
  width: 100%;
  height: 50vh;
  background: rgb(37, 37, 37);
  background: linear-gradient(
    79deg,
    rgba(37, 37, 37, 1) 42%,
    rgba(212, 59, 48, 1) 56%,
    rgba(212, 59, 48, 0.33657212885154064) 78%
  );
  position: absolute;
  z-index: 1;
}

#banner-thumbnail {
  height: 50vh;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 0;
}

#anime-logo {
  height: 20vh;
  position: absolute;
  z-index: 2;
  left: 4%;
  top: 6vh;
}

h2 {
  position: absolute;
  z-index: 2;
  left: 4%;
  top: 29vh;
  color: white;
  letter-spacing: 0.5px;
}

a {
  color: #252525;
  text-decoration: none;
}

.banner-container ul {
  z-index: 2;
  position: absolute;
  left: 4%;
  top: 33vh;
  color: white;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
}

#age,
#ep,
#seasons,
#genre {
  background-color: grey;
  border-radius: 5px;
  padding: 3px;
}

#anime-description {
  position: absolute;
  z-index: 2;
  left: 4%;
  top: 37vh;
  color: white;
  letter-spacing: 0.5px;
  width: 60vh;
}

.season1-line1 {
  display: flex;
  height: 400px;
  margin: 4rem auto;
  position: absolute;
  top: 60%;
  left: 2.8%;
}

.text-container:hover {
  transition: 0.2s;
  background: rgb(212, 59, 48);
  background: linear-gradient(
    15deg,
    rgba(212, 59, 48, 1) 20%,
    rgba(212, 59, 48, 0.9) 40%,
    rgba(37, 37, 37, 0) 80%
  );
}

.div-separator h3 {
  top: 61.5%;
  left: 10.5%;
  position: absolute;
  color: white;
  z-index: 50;
}

.div-separator #before-sep {
  top: 62.5%;
  left: 3.5%;
  width: 6%;
  height: 3px;
  position: absolute;
  background: rgb(212, 59, 48);
  z-index: 50;
  border: none;
}

.div-separator #after-sep {
  top: 62.5%;
  left: 15.5%;
  width: 79%;
  height: 3px;
  position: absolute;
  background: rgb(212, 59, 48);
  z-index: 50;
  border: none;
}

iframe {
  top: 73%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 1000px;
  height: 450px;
}

.next-ep-container {
  position: absolute;
  background-color: rgb(212, 59, 48);
  height: 650px;
  width: 1000px;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.next-ep-container #season-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 3.5%;
  color: white;
  background-color: #252525;
  padding: 7.5px;
  border-radius: 14px;
}

.image {
  width: 200px;
  height: 113px;
  margin: 6px;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  overflow: hidden;
  position: absolute;
}

.text-container {
  width: 200px;
  height: 113px;
  margin: 6px;
  cursor: pointer;
  position: relative;
  background: linear-gradient(
    15deg,
    rgba(37, 37, 37, 0.87) 15%,
    rgba(37, 37, 37, 0.6) 50%,
    rgba(37, 37, 37, 0) 75%
  );
}

.text {
  position: absolute;
  text-align: left;
  text-shadow: 10px 10px 10px #252525;
  color: white;
  font-size: 0.7rem;
  left: 5px;
  margin-left: 0px;
  margin-top: 72.5px;
}

/* Paramètre de Grid */

.season1-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 12% 12% 12% 12%;
  grid-row-gap: 12.25%;
  grid-column-gap: 1%;
  padding: 5px;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 100;
  height: fit-content;
  position: absolute;
  top: 11%;
  left: 2.5%;
  right: 0%;
}

.episodes-nav {
  height: 70px;
  width: 1000px;
  background-color: rgb(212, 59, 48);
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.episodes-nav h3 {
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.episodes-nav .prec-ep-btn {
  color: white;
  background-color: #252525;
  border-radius: 12.5px;
  padding: 5px;
  left: 12%;
  top: 50%;
  width: 100px;
  transform: translate(-50%, -50%);
  position: absolute;
}

.episodes-nav .next-ep-btn {
  color: white;
  background-color: #252525;
  border-radius: 12.5px;
  padding: 5px;
  left: 88%;
  top: 50%;
  width: 100px;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

.next-ep-container #prev-season {
  background: #252525;
  border-radius: 12.5px;
  padding: 5px;
  left: 40%;
  top: 6.5%;
  width: 40px;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

.next-ep-container #next-season {
  background: #252525;
  border-radius: 12.5px;
  padding: 5px;
  left: 60%;
  top: 6.5%;
  width: 40px;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgb(212, 59, 48);
  position: absolute;
  top: 200%;
}

footer h3 {
  color: white;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  position: absolute;
}

footer #credits {
  color: white;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  position: absolute;
}
